<div id="articlesWrapper"></div>

<!-- Added Articles Modal -->
<div class="modal fade" id="articlesAddedModal" tabindex="-1" 
  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Added 20 New Articles</h3>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>

<script src="../public/assets/scripts/index-page.js"></script>