.times-font {
  color: #333333;
  font-family: 'Times New Roman', Times, serif;
}

.jumboHeader {
  width: 100%;
}

.jumboHeaderImg {
  background-image: url("../images/newspapers-hdr.png");
  background-size: cover;
  width: 100%;
}

.article {
  background-color: #008894;
  margin-top: 15px;
  padding: 15px;
}

.abstractHdr {
  color: #fff;
  font-weight: bold;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}